.bg_test {
  background-color: #26d0c9;
}

.header {
  color: #fff;
  height: 90px;
  border-bottom: solid 2px;
}

.header-logo {
  color: black;
  float: left;
  font-size: 36px;
  padding: 35px 0px 40px 30px;
}


.contents {
  height: 500px;
  margin-top: 20px;
  text-align: center;
}

.footer {
  color: #fff;
  height: 90px;
  border-top: solid 2px;
}

.footer-logo {
  float: left;
  font-size: 36px;
  padding: 35px 0px 40px 30px;
}

.top_logo {
  padding-top: 100px;
}
